fastapi
uvicorn
python-multipart
pymupdf4llm
pydantic
faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-core
langchain-huggingface
langgraph
langchain-tavily
llama-cpp-python
tavily-python
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]