fastapi
uvicorn
python-multipart
pypdf
pydantic
langgraph
langchain-community
langchain-core
langchain-tavily
llama-cpp-python
tavily-python
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart